@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        @apply bg-background-grey font-sans mx-6 my-16;
    }

    h1{
        @apply text-3xl;
    }

    h2{
        @apply text-2xl;
    }

    h3{
        @apply text-xl;
    }

    h4{
        @apply text-lg;
    }

    h5{
        @apply text-base;
    }

    h6{
        @apply text-sm;
    }

    p{
        @apply text-xs;
    }
}
.placeholder-xs::placeholder {
    font-size: 0.75rem;
}

.placeholder-sm::placeholder { 
    font-size: 0.875rem;
}

.placeholder-base::placeholder { 
    font-size: 1rem; 
}